.App {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

#left-side-bar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #efefef;
  padding: 8px 12px 20px;
}

#left-side-bar .logo {
  padding-bottom: 2rem;
}

#left-side-bar img {
  padding: 12px;
  margin: 4px 0;
}

#left-side-bar .tabs {
  flex-grow: 1;
}

.profile-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-layout img {
  border-radius: 50%;
}

.profile-layout .text {
  flex-grow: 1;
}

#right-side-bar {
  padding-top: 30px;
  width: 20rem;
  margin: 0 30px;
}

#right-side-bar button {
  all: unset;
  color: #0095f6;
  font-weight: 600;
  font-size: small;
}

#right-side-bar .footer {
  width: 100%;
  font-size: 0.7rem;
  word-break: keep-all;
}

#right-side-bar .footer > div {
  margin: 1rem 0;
}

#right-side-bar .footer span:not(:last-child)::after {
  content: "\00B7";
  margin: 0 0.25em 0 0.25em;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

#recommend {
  padding: 8px 0;
}

#recommend .desc {
  color: #8d949e;
  font-size: 11px;
}

#main {
  margin: 0 16px;
}

#story {
  display: flex;
  padding: 16px 0;
  margin-top: 32px;
}

#story li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
#story li img {
  border-radius: 50%;
}

.story-profile {
  color: #8d949e;
  font-size: 12px;
}

#feed {
  width: 468px;
}

#feed .header {
  display: flex;
}

#feed .title {
  flex-grow: 1;
}

#feed .header img {
  border-radius: 50%;
}

#feed .main {
}

#feed .main img {
}

#feed .footer {
}

#feed .footer img {
  padding: 8px;
}

.card {
  margin: 1rem 0;
}
